@import "tailwindcss";

@theme {
  --color-primary: #388e3c;
  --color-green3: #e6fdd6;
  --color-green2: #a5d6a7;
  --color-green1: #4caf50;
  --color-green4: #e8f5e9;
  --color-Beach: #f9fbe7;
  --color-Gray: #4e4e4e;
  --color-HalfWhite: #f1f8e9;
  --color-White: #ffffff;
  --color-Black: #ffffff;
}

/* Image loading optimization */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Smooth image transitions */
img[loading="lazy"] {
  transition: opacity 0.3s ease-in-out;
}

/* Ensures SVG scales properly */
svg {
  max-width: 100%;
  height: auto;
}

.input {
   @apply border rounded px-3 py-2 w-full;
}

/* Skeleton loading animation */
@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.skeleton-loader {
  animation: shimmer 2s infinite;
  background: linear-gradient(
    to right,
    #f0f0f0 0%,
    #e0e0e0 50%,
    #f0f0f0 100%
  );
  background-size: 1000px 100%;
  background-position: -1000px 0;
}

/* Selected option style */


/* Hide number input spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.custom-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
